<section id="add">
  <form action="/" method="post">
  </form>	
  	<textarea name="content" placeholder="Your note&hellip;"></textarea>
  	<input type="submit" value="Take a Note!">
</section>

<% # display notes %>